body {
    font-size: 0.9em !important;
}

h1 {
    font-size: 1.1em !important;
}

h2 {
    font-size: 1.05em !important;
}

h3 {
    font-size: 1.0em !important;
}

section {
    clear: both;
    font-size: 0.9em;
    overflow: hidden;
    padding: 5px 0 5px 0;
}

section > h1 {
    font-size: 1.25em !important;
    margin-bottom: 10px;
    text-transform: uppercase;
}

section > p {
    line-height: 1.5em;
    padding: 0 15px 5px;
}

article {
    padding: 0 15px 5px;
}

/* ==========================================================================
   contact
   ========================================================================== */

header img.ava {
    width: 100px;
    float: right !important;;
}

header h1.fn {
    font-size: 1.7em !important;
    font-weight: bold;
    padding: 5px 0 5px 0;
}

header h2.role {
    font-size: 1.2em !important;
    padding: 5px 0 5px 0;
}

header ul {
    padding-bottom: 5px;
}

header .head-section {
    display: none;
}

.contact {
    margin-left: 15px;
    float: left;
}

.contact li {
    padding: 2px 0;
    list-style-type: none;
}

.contact li:before {
    content: none !important;
}

.social {
    margin-left: 15px;
    float: left;
}

.social li {
    padding: 2px 0;
    list-style-type: none;
}

.social li img {
    display: none;
}

/* ==========================================================================
   skills
   ========================================================================== */

#skills dl {
    margin-left: 15px;
    padding-bottom: 5px;
}

#skills dl dd {
    display: inline-block;
    padding: 3px 2px;
}

#skills dl dd:after {
    content: ", ";
}

#skills dl dt {
    display: inline;
    font-weight: bold;
}

#skills dl dt:before {
    content: "";
    display: block;
}

#skills dl dt:after {
    content: ": ";
}

#skills dd small {
    margin: 0 0 0 5px;
}

#skills dd small:before {
    content: "(";
}

#skills dd small:after {
    content: ")";
}

/* ==========================================================================
   experience
   ========================================================================== */

#experience article h1,
#experience article h2 {
    border-left: 1px solid black;
    padding-left: 5px;
}

#experience article h1 {
    line-height: 1.5em;
}

#experience article span + p,
#experience article time + p {
    padding-top: 10px;
}

#experience article h1 span {
    font-size: 0.8em;
    font-weight: normal;
}

#experience article h2 {
    display: inline;
}

#experience article .start,
#experience article .end {
    font-size: 0.75em;
}

#experience article .start:after {
    content: " - ";
}

#experience article a[href^="http"]:after {
    content: ' (' attr(href) ') ';
    font-size: 90%;
}

#experience article p {
    line-height: 1.5em;
    padding: 0 15px 15px;
}

/* ==========================================================================
   ???
   ========================================================================== */

#education ul {
    padding-left: 48px;
}
#education ul li {
    padding: 2px 0;
}

#education ul li span:before {
    content: ", ";
}

#languages ul {
    padding-left: 48px;
}
#languages ul li {
    padding: 2px 0;
}

#languages span:before {
    content: " - ";
}

#hobbies ul {
    padding-left: 48px;
}
#hobbies ul li {
    padding: 2px 0;
}
