/*   RESET   */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;} body {line-height:1;} article,aside,details,figcaption,figure, footer,header,hgroup,menu,nav,section {display:block;} nav ul, nav ol {list-style:none;} blockquote, q {quotes:none;} blockquote:before, blockquote:after, q:before, q:after {content:''; content:none;} a {margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent;} ins {background-color:#ff9; color:#000; text-decoration:none;} mark {background-color:#ff9; color:#000; font-style:italic; font-weight:bold;} del {text-decoration: line-through;} abbr[title], dfn[title] {border-bottom:1px dotted; cursor:help;} table {border-collapse:collapse; border-spacing:0;} hr {display:block; height:1px; border:0; margin:1em 0; padding:0;} input, select {vertical-align:middle;}

.popup-css{
    padding:2px 10px 2px 10px;;
    background:#fff;
    text-align:left;
    border-top:5px solid #ececec;
    position:relative;
    font-family: serif;
    font-size: 0.74em;
    text-transform: none;
}
.m-m-fatmenu ol {
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding-bottom: 1em
}
.m-m-fatmenu ol.x5 {
    width: 66.5em
}
.m-m-fatmenu ol li.x1 {
    float: left;
    clear: none
}
.m-m-fatmenu ol li.x1 {
    width: 13em
}
.m-m-fatmenu ol h6 {
    color: #424242;
    font-size: 1.1em;
    font-weight: bold;
    padding-bottom: .25em
}
.m-m-fatmenu h5 {
    font-size: .94em;
    padding: 0;
    margin: 0
}
.m-m-fatmenu h5 a {
    text-decoration: none;
    padding: 5px;
    font-size: 1.3em;
    color: #3D3D3D;
}
.m-m-fatmenu a {
    color:#505050
}
.m-m-fatmenu h5 a:link, .m-m-fatmenu h5 a:visited {
    color: #3D3D3D;
}
.m-m-fatmenu h5 a:hover {
    color: #3D3D3D;
}
.m-m-fatmenu ul {
    width: auto;
    height: auto;
    font-size: .94em /*mac-size*/;
    padding: 0 .5em;
    list-style-type: none;
}
.m-m-fatmenu li {
    clear: left;
    float: none;
    width: auto;
    height: auto;
    line-height: 1.25em;

}
.m-m-fatmenu li li {
    border-right: 1px solid #BEBEBE;
}
.m-m-fatmenu li a, .m-m-fatmenu li b {
    display: block;
    padding: 4px 1px;
    text-decoration: none;
}
.m-m-fatmenu li a:hover {
    background: #ececec;
    text-decoration: none
}
.m-m-fatmenu li a span.new {
    color: #f00;
    font-size: 10px
}
.m-m-fatmenu li.active, .m-m-fatmenu li b {
    font-weight: bold
}
.m-m-fatmenu li.active a, .m-m-fatmenu li.active b {
    background: #ececec;
}
.m-m-fatmenu li.active a:hover {
    background: #ececec;
}
.m-m-fatmenu li.skyblue-links a {
    font-size: 1em;
    text-decoration: underline;
    white-space: nowrap
}

/*   MAIN STYLES   */
html {background: #FCFCFC; color: #333; font-family: 'PT Sans',sans-serif; height: 100%;}
body {height: 100%; margin: 0 auto; max-width: 978px; padding: 10px}
a, #skills dl dd {
    -webkit-transition: all 0.15s ;
    -moz-transition: all 0.15s ;
    -ms-transition: all 0.15s ;
    -o-transition: all 0.15s ;
    transition: all 0.15s ;
}


span {
    vertical-align: middle;
}

body {
    background-color: #6B10AA;
    min-width: 800px;
}

html {
    background-color: #D7CDE4;
}

body {
    height: auto;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    padding: 0;
    min-width: 910px;
}

h1 {
    padding-top: 10px;
}

header {
    /* height: 220px;*/

    background: #5C0F95; /* Old browsers */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7B11C4), color-stop(47%, #5C0F95), color-stop(100%, #460B74)); /* Chrome,Safari4+ */
    background: -moz-linear-gradient(top, #7B11C4 0%, #5C0F95 47%, #460B74 100%); /* FF3.6+ */
    background: -o-linear-gradient(top, #7B11C4 0%,#5C0F95 47%,#460B74 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7B11C4 0%,#5C0F95 47%,#460B74 100%); /* IE10+ */
    background: linear-gradient(top, #7B11C4 0%,#5C0F95 47%,#460B74 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7B11C4', endColorstr='#460B74',GradientType=0 ); /* IE6-9 */

    box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5);
}

aside {
    min-height: 500px;
    height: auto;
    display: block;
    width: 300px;
    float: left;
    background-color: #E9DDEB;
    padding: 5px;
}

article {
    margin-left: 300px;
    padding: 20px;
}

footer {
    clear: both;
    padding: 5px 10px;

    color: #FFF;

    background: #5C0F95; /* Old browsers */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7B11C4), color-stop(47%, #5C0F95), color-stop(100%, #460B74)); /* Chrome,Safari4+ */
    background: -moz-linear-gradient(top, #7B11C4 0%, #5C0F95 47%, #460B74 100%); /* FF3.6+ */
    background: -o-linear-gradient(top, #7B11C4 0%,#5C0F95 47%,#460B74 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7B11C4 0%,#5C0F95 47%,#460B74 100%); /* IE10+ */
    background: linear-gradient(top, #7B11C4 0%,#5C0F95 47%,#460B74 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7B11C4', endColorstr='#460B74',GradientType=0 ); /* IE6-9 */

    font-size: .9em;
}

#nav ul {
    list-style-type: none;
    padding: 10px 20px;
    background-color: #7D37A5;
}

#nav li {
    display: inline;
    padding: 5px 10px;
    /*background-color: #C5C5C5;*/
}

#nav li a {
    color: #FFF080;
    text-decoration: none;
}

#nav li {
    border-right: 1px solid #8E80B4;
    display: inline;
    /* float: left;*/
    font-size: 0.8em;
    padding: 5px 10px;
    text-align: center;
    width: 19%;
    overflow: hidden
}

#nav li:last-child {
    border: none
}

#logo {
    width: 250px;
    height: 70px;
    font-size: 2em;
    display: block;
    text-align: center;
    padding-top: 13px;
    float: left;
    color: #FFF;
    text-shadow: 1px 1px 39px, 1px 1px 5px black;
}

#search {
    width: 400px;
    height: 70px;
    font-size: 2em;
    display: block;
    text-align: center;
    padding-top: 13px;
    float: left;
}

#search input[type='search'] {
    width: 300px;
    height: 25px;
}

#search input[type='submit'] {
    background-color: #581E80;
    border: 0px;
    color: white;
    height: 21px;
    box-shadow: 1px 1px 6px black;
    margin-left: -20px;
}

#staff {
    width: 300px;
    height: 70px;
    font-size: 2em;
    display: block;
    text-align: center;
    padding-top: 13px;
    float: right;
    border: 1px solid #6B52A2;
}

section {
    margin: 0;
    background-color: #fff;
}

.menu1{
    padding: 10px;  clear: both;
}