.clickable input:checked + .item1 .appear{
    background: #ececec;
    display: block;
    opacity: 1;
    z-index: 5;

    pointer-events: auto;

    -webkit-animation-name:  imageSlide1;
    -webkit-animation-duration:  .25s;
    -webkit-animation-delay: .10s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode:forwards ;

    -o-animation-name:  imageSlide1;
    -o-animation-duration:  .25s;
    -o-animation-delay: .10s;
    -o-animation-timing-function: linear;
    -o-animation-iteration-count: 1;
    -o-animation-fill-mode:both  ;

    -moz-animation-name:  imageSlide1;
    -moz-animation-duration:  .25s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: 1;
    -moz-animation-fill-mode:forwards ;

}
.clickable input:checked+ .item1  label{
    background-color: #7648A8;
    color: #fff;
    display: none;
}
.clickable input:checked + .item1 label:after{
    content: " ";
}
.clickable input:checked + .item1 .close{
    display: inline-block;
}